<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bank Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Bank Management System</h1>
    <hr>
    <h2>Withdraw To Bank Account</h2>
    <form action="#" th:action="@{/deposit}" th:object="${bankAccountDto}"  method="POST">
        <input type="text" th:field="*{balance}" placeholder="Enter Balance" class="form-control mb-4 col-4" value="  ">
        <input type="text" th:field="*{id}"  class="form-control mb-4 col-4" th:value="${id}">
        <button type="submit" class="btn btn-info col-2"> Save Deposit</button>
    </form>
    <hr>
    <a th:href="@{/home?accountId=0}"> Back to Bank Account List</a>
</div>

</body>
</html>